@import "../../../styles/settings.scss";

.gallery {

    .left {
        height: 30vh;
        background-color: $color-main;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        a {
            text-decoration: none;

            Button {
                margin-bottom: 10%;

                @media (max-width: 375px) {
                    margin-bottom: 5%;
                }
            }    
        }

        @media (max-width: 991px) {
            background-color: $color-light;
        }
    }
    
    .right {
        height: 30vh;
        background-color: $color-light;
    }
}
