@import "../../../styles/settings.scss";

.gallery {

    .left {
        height: 30vh;
        background-color: $color-main;

        a {
            text-decoration: none;

            Button {
                display: flex;
                margin: 0 auto;
                position: relative;
                bottom: -70%;

                @media (max-width: 375px) {
                    bottom: -58%;
                }
            }    
        }


        @media (max-width: 991px) {
            background-color: $color-light;
        }
    }
    
    .right {
        height: 30vh;
        background-color: $color-light;
    }
}
