@import "../../../styles/settings.scss";

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $base-size * 4 0;

    .title {
        font-size: 22px;
        margin: 0;
    }
}

