@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Roboto:wght@300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

p {
    font-family: $font-text;
    color: $color-dark;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
    font-size: 22px;
    text-transform: lowercase;
    letter-spacing: 1px;
}