$color-main: #5E5A35;
$color-light: #DFD0B1;
$color-special: #B98C8F;
$color-dark: #303030;

$font-text: 'Comfortaa', sans-serif;
$font-header: 'Roboto', sans-serif;

$base-size: 12px;
$transition: all 0.5s;
$radius: 20px;

$hero-image: url('../../../../public/images/hero.jpg');
$contact-image: url('../../../../public/images/contact.jpg');