@import "../../../styles/settings.scss";

.header {
    background-image: $hero-image;
    height: 100vh;
    background-size: cover;
    background-position: top;
    position: relative;
    &::after {
        content: "";
        background-color: $color-main;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.4;
    }
}