@import "../../../styles/settings.scss";

.about {

    .aboutImg {
        position: relative;
        height: 100vh;
        background-color: $color-main;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &::after { 
            content: "";
            background-color: $color-main;
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0.2;
        }

        img {
            max-width: 60%;
            object-fit: cover;
        }
    }

    .aboutTxt {
        min-height: 100vh;
        background-color: $color-light;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            max-width: 60%;
            text-align: center;
            margin: 0 auto;
        }
    }
}
