@import "../../../styles/settings.scss";

.navigation {
    list-style: none;
    margin: 0 $base-size * 3;

    .logo {
        height: $base-size * 3;
        cursor: pointer;
    }

    .icon {
        border: none;
    
        &:focus {
            outline: none;
            box-shadow: none;
        }
    
        .burgerMenu {
            color: $color-main;
            height: $base-size * 3;
        }
        
    }

    .link {
        text-decoration: none;
        font-family: $font-header;
        font-size: 20px;
        text-transform: lowercase;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        margin-left: $base-size * 3;

        &:active {
            color: $color-dark;
        }
    }    
}


.offCanvasNavigation {
    @extend .navigation;
    margin: 0;

    .offcanvasHeader, .offcanvasBody {
        background-color: $color-light;
    }

    .closeIcon {
        color: $color-main;
        height: $base-size * 3;
        margin-left: auto;
        &:hover {
            color: $color-special;
        }
    }

    .link {
        color: $color-dark;
        &:hover {
            color: $color-dark;
        }
    }

    .iconsList {
        display: flex;
        list-style: none;
        padding: 8px 16px;
        margin-left: 36px;

        .icon {
            height: $base-size * 2.1;
            color: $color-main;
            margin: .5em;
        }
    }

}

