@import "../../../styles/settings.scss";

.navigation {
    list-style: none;
    margin: 0 $base-size * 3;

    .logo {
        height: $base-size * 3;
    }

    .link {
        text-decoration: none;
        font-family: $font-header;
        font-size: 20px;
        text-transform: lowercase;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        margin-left: $base-size * 3;

        &:active {
            color: $color-dark;
        }
    }
}

.icon {
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.burgerMenu {
    color: $color-main;
    height: $base-size * 3;
}