@import "../../../styles/settings.scss";

.footer {
    background-color: $color-main;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .iconsList {
        display: flex;
        list-style: none;
        margin: 0 0 0 5%;
        padding: 0;

        .icon {
            height: $base-size * 2.1;
            color: $color-light;
            margin: 4px;
            &:hover {
                color: $color-special;
            }
        }
    }

    .copyright {

        p {
            margin: 0;
            color: $color-light;
            padding-right: 70px;
        }
    }
}

@media (max-width: 425px) {

    .copyright p {
        font-size: 10px;
    }
  }