@import "../../../styles/settings.scss";

.contactSection {
    background-image: $contact-image;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        content: "";
        background-color: $color-main;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.4;
        top: 0;
    }

    .contact {
        background-color: $color-light;
        display: flex;
        flex-direction: column;
        z-index: 2;
        justify-content: center;
        height: 100vh;
    }
}
