@import "../../../styles/settings.scss";

.contactSection {
    background-image: $contact-image;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        content: "";
        background-color: $color-main;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.4;
        top: 0;
    }

    .col {
        z-index: 2;

        .contact, .newsletter {
            background-color: $color-light;
            display: flex;
            flex-direction: column;
            padding: 8%;
        }
    
        .contact {
            margin: 0 5em 0 10em;
        }
    
        .newsletter {
            margin: 0 10em 0 5em;
        }
    
    }


}