@import "../../../styles/settings.scss";

.contactSection {
    background-image: $contact-image;
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        content: "";
        background-color: $color-main;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.4;
        top: 0;
    }

    @media screen and (max-width: 767px) {
        padding-top: 5em;
    }


    .col {
        z-index: 2;
        height: 100vh;
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
            height: 70vh;
        }

        .contact, .newsletter {
            background-color: $color-light;
            display: flex;
            flex-direction: column;
            padding: 8%;
            margin: auto 5em;
            width: 80%;        
        }

        .contact {
            @media screen and (max-width: 767px) {
                margin-bottom: 2em;
            }
        }

        .newsletter {
            @media screen and (max-width: 767px) {
                margin-top: 2em;
            }
        }
    }
}